__pycache__/
.env
.vscode
.idea
.coverage
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
.egg-info/
.tox/
.venv/
.mypy_cache/
.pytest_cache/
.cache/
.idea/
.vscode/
